
div#pganotar(data-role="page", data-theme="a")
    div(data-role="header")
        a.ui-btn.ui-btn-left.ui-btn-inline.ui-mini.ui-corner-all.ui-btn-icon-left.ui-icon-back(href="#pglogado") Voltar
        h1 Searchlight 
 
    div(data-role="content")
        div.ui-body.ui-body-a
            h3#pganotar-titulo Categoria

            p.nota-relacionada
            p.categoria
                label(for="pganotar-categoria", class="ui-hidden-accessible") Categoria
                input#pganotar-categoria(type="text",name="pganotar-categoria", placeholder="Categoria", value="")

            p
                label(for="txtcomments", class="ui-hidden-accessible") Comentários
                textarea(type="text", rows="3", name="txtcomments",id="txtcomments",placeholder="Comentários",value="")

            fieldset.ui-grid-a
                div.ui-block-a 
                    a.ui-btn.ui-shadow.ui-corner-all.btnFotografar
                        i.fa.fa-camera-retro
                        br
                        span  Fotografar
                div.ui-block-b(style="text-align:center")
                    img#fotoTirada(width="72px",height="72px", src="/")

            fieldset.ui-grid-a
                div.ui-block-a 
                    a.ui-btn.ui-shadow.ui-corner-all.btnYoutube
                        i.fa.fa-youtube
                        br
                        span  Youtube
                div.ui-block-b(style="text-align:center")
                    img#youtubeThumb(width="72px",height="72px", src="/")
        

            p(style="text-align:center") 
                span: i.fa.fa-location-arrow &nbsp; 
                span.text#pganotar-gps 27.234, 23.3434 
                br
                span.text#pganotar-gps-accuracy (20 m) 

        br
           
        fieldset.ui-grid-solo
            div.ui-block-a
                a.btnSalvar.ui-btn.ui-btn-b.ui-shadow.ui-corner-all
                    i.fa.fa-save
                    span &nbsp;Salvar

    div(data-role="footer", data-position="fixed")
        h4 &copy UFES

