doctype html
html(ng-app='SearchlightApp')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    title MyApp
    // Styles
    link(rel='stylesheet', href='bower_components/Framework7/dist/css/framework7.ios.min.css')
    link(rel='stylesheet', href='bower_components/Framework7/dist/css/framework7.ios.colors.min.css')
    // Scripts

    script(type='text/javascript', src='bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='bower_components/angular/angular.min.js')
    script(type='text/javascript', src='bower_components/ngstorage/ngStorage.min.js')
    script(type='text/javascript', src='bower_components/Framework7/dist/js/framework7.min.js')
    script(type='text/javascript', src='bower_components/slsapi/dist/slsapi.js')
    script(type='text/javascript', src='js/searchlight-app.js')
  body(data-pagina='index')
    .statusbar-overlay
    .panel-overlay

    .views
      .view.view-base
       .pages.navbar-fixed(ng-controller='StartupController')
          .page(data-page='startup') 
            .page-content

          .page.cached(data-page='escolheServico')
            .page-content
              p  Para utilizar o Searchlight é necessário que este esteja vinculado a um serviço de coleta. Vc pode fazer isso clicando no botão "vincular serviço". Ao clicá-lo posicione o smartphone de forma que possa ler o código QR gerado pelo seu serviço.

              a.ui-btn.ui-shadow.ui-corner-all.btn-vincular(ng-click='vincularServico()')
                i.fa.fa-2x.fa-qrcode
                br
                span Vincular Serviço
        
          .page.cached(data-page='loginPage', ng-controller='UserController')
            .page-content
               h3 Login
               form#loginForm
                  div(data-role="fieldcontain",class="ui-hide-label")
                    label(for="username") Usuário:
                    input(type="text",name="username",id="username",value="",placeholder="Usuário")
                    
                  div(data-role="fieldcontain",class="ui-hide-label")
                        label(for="password") Senha:
                        input(type="password", name="password",id="password",value="",placeholder="Senha")

                  p 
                    input(type="submit",value="Entrar",id="submitButton")
                  br 
                  p(style='text-align:center') ou 
                  br
                  p 
                    a.ui-btn(href="javascript:app.trocarServico()") Escolher outro serviço 
          


// vim: set ts=2 sw=2 sts=2 expandtab:
