<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.wancharle.slmobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Searchlight</name>
    <description>
        Um applicação para coleta de anotações de crowdsourcing
    </description>
    <author email="contato@wancharle.com.br" href="http://wancharle.com.br">
        Wancharle Sebastião Quirino
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
</widget>
