<!DOCTYPE html>
<html ng-app="SearchlightApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>MyApp</title>
    <!-- Styles-->
    <link rel="stylesheet" href="bower_components/Framework7/dist/css/framework7.ios.min.css">
    <link rel="stylesheet" href="bower_components/Framework7/dist/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
    <!-- Scripts-->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/ngstorage/ngStorage.min.js"></script>
    <script type="text/javascript" src="bower_components/Framework7/dist/js/framework7.min.js"></script>
    <script type="text/javascript" src="bower_components/slsapi/dist/slsapi.js"></script>
    <script type="text/javascript" src="js/searchlight-app.js"></script>
  </head>
  <body data-pagina="index">
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <div class="views">
      <div class="view view-base">
        <div class="pages">
          <div class="page" data-page="startup"> 
            <div class="page-content"></div>
          </div>
          <div class="page cached" data-page="escolheServico" ng-controller="EscolheServicoController">
            <div class="page-content">
              <div class="content-block">
                <p> Para utilizar o Searchlight é necessário que este esteja vinculado a um serviço de coleta. Vc pode fazer isso clicando no botão "vincular serviço". Ao clicá-lo posicione o smartphone de forma que possa ler o código QR gerado pelo seu serviço.</p><a class="button active" ng-click="vincularServico()"><span>Vincular Serviço</span></a>
              </div>
            </div>
          </div>
          <div class="page cached" data-page="loginPage" ng-controller="LoginController">
            <div class="page-content">
              <div class="content-block">
                <h3>Login</h3>
                <form id="loginForm">
                  <div class="ui-hide-label" data-role="fieldcontain">
                    <label for="username">Usuário:</label>
                    <input type="text" name="username" id="username" value="" placeholder="Usuário">
                  </div>
                  <div class="ui-hide-label" data-role="fieldcontain">
                    <label for="password">Senha:</label>
                    <input type="password" name="password" id="password" value="" placeholder="Senha">
                  </div>
                  <p> 
                    <input type="submit" value="Entrar" id="submitButton">
                  </p><br>
                  <p style="text-align:center">ou </p><br>
                  <p> <a class="ui-btn" ng-click="trocarServico()">Escolher outro serviço </a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<!-- vim: set ts=2 sw=2 sts=2 expandtab:-->